.glassdoor-label-wrapper {
	position: relative;
}
.glassdoor-label {
	color: white;
	z-index: 100;
	position: absolute;
	background-color: #111;
	padding: 10px;
	border: 1px #DDD solid;
	border-radius: 9px;
	width: 180px;
}