/* || General styles */

.glassdoor-label-wrapper {
	position: relative;
}
.glassdoor-label {
	/* color: white; */
	/* z-index: 100; */
	/* position: absolute; */
	/* background-color: #111; */
	/* padding: 10px; */
	/* border: 1px #DDD solid; */
	/* border-radius: 9px; */
	/* color: rgba(0,0,0,.6); */
	/* width: 100em; */
	color: rgba(0,0,0,.6);
}

.glassdoor-link {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
}

.glassdoor-link a, a:visited{
	color: rgba(0,0,0,.6) !important;
}

.glassdoor-link a:focus, a:hover {
	color: #006097 !important;
}


/* .tbl {
	width: 100em;
} */


/* || Columnate Glassdoor wrapper */

.cell {
	display: table-cell;
	float: none !important;
}

.middle {
	vertical-align: middle !important;
}

.padRtSm {
	padding-right: 12px !important;
}

.padRtLg {
	padding-right: 36px !important;
}

/* || Loading animation  */
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
