/* 
* === Google for Jobs styles ===
*/
.gws-plugins-horizon-jobs__li-ed .glassdoor-label  {
    color: gray;
    font-weight: unset;
}

.gws-plugins-horizon-jobs__li-ed #glassdoor-link, :visited {
    color: gray;
    font-weight: unset;
}

#gws-plugins-horizon-jobs__job_details_page .glassdoor-label {
    color: gray;
    font-weight: unset;
}

#gws-plugins-horizon-jobs__job_details_page #glassdoor-link, :visited {
    color: gray;
    font-weight: unset;
}