/* 
* === Google for Jobs styles ===
*/
.glassdoor-label {
    color: #70757a;
}

#glassdoor-link, :visited {
    color: #70757a;
    font-weight: unset;
}

.dark-mode .glassdoor-label {
    color: #9aa0a6;
    font-weight: unset;
}

.dark-mode #glassdoor-link, :visited {
    color: #9aa0a6;
    font-weight: unset;
}

.dark-mode .glassdoor-rating {
    color: #4dd783;
    font-weight: bold;
}
