#inDoors-tippy {
    display: flex;
    cursor: default;
}

#inDoors-tippy-company {
    font-size: 1.17em; /* h3 size */
}
#inDoors-tippy a {
    color: #58a6ff !important;
}

#inDoors-tippy-logo {
    width: 56px;
    height: 56px;
    margin-right: 9px;
}